
.main {
    display: grid;
    grid-template: 2fr 1fr 1fr 2fr 2fr / 1fr 1fr 1fr;
    min-height: 100vh;
}

.main.collapsed {
    display: grid;
    grid-template: 2fr 1fr 1fr 2fr 2fr / 60px 1fr 1fr;
}

.navbar  {
    grid-column: span 3;
    background-color: aqua;
}

.side {
    grid-row: span 4;
    background-color: green;
    width: 100%;
    min-width: 60px;
}

.header {
    grid-column: span 2;
    background-color: blueviolet;
}

.content {
    background-color: pink;
    margin: 1rem;
}