.main {
    display: grid;
    grid-template: 2fr 1fr 1fr 2fr 2fr / 1fr 1fr 1fr;
    min-height: 100vh;
}

.main.collapsed {
    display: grid;
    grid-template: 2fr 1fr 1fr 2fr 2fr / 60px 1fr 1fr;
}

.navbar  {
    grid-column: span 3;
    background-color: #02FFFF;
}

.side {
    grid-row: span 4;
    background-color: #02FFC6;
    width: 100%;
    min-width: 60px;
}

.header1 {
    grid-column: span 2;
    background-color: #A4C2F4;
}

.header2 {
    grid-column: span 2;
    background-color: #674EA7;
}

.content {
    grid-column: span 2;
    grid-row: span 2;
    background-color: #DCDCDC;
    padding: 1rem;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 1rem

}

.subcontent {
    background-color: #F646A5;
}


@media (max-width: 800px) {
    .main,
    .main.collapsed {
        grid-template: 2fr 1fr 1fr 2fr 2fr / 60px 1fr 1fr;
    }
}