<div class="main {{ sidebar() ? '' : ' collapsed' }}">
    <div class="navbar"> </div>
    <div class="side">
        <button (click)="toggleSideBar()">
            {{ sidebar() ? 'Collapse Menu' : 'Expand Menu' }}
        </button>
    </div>
    <div class="header1">Header</div>
    <div class="header2">Header</div>
    <div class="content">
        <div class="subcontent">Content</div>
        <div class="subcontent">Content</div>
        <div class="subcontent">Content</div>
        <div class="subcontent">Content</div>
    </div>

</div>