body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
}

#sidebar {
    background-color: #75FBC9;
    flex-grow: 1;
}

#container {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
}

.header {
    flex-grow: 1;
}

#h1 {
    background-color: #A4C2F4;
}

#h2 {
    background-color: #674EA7;
}

#page    {
    display: flex;
    flex-direction: row;
    flex-grow: 5;
}

#upbar{
    background-color: #75FBFE;
    flex-grow: 1;
}

#content {
    background-color: #CCCCCC;
    flex-grow: 5;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.ele {
    background-color: #D92E8A;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 32px;
    margin-right: 32px;
}
