body {
    display: flex;
    flex-direction: row;
    margin: 0px;
    height: 100vh;

}

#sidebar {
    background-color: #75FBC9;
    width: 20vw;
}

#page    {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

#upbar{
    background-color: #75FBFE;
    height: 10vh;
}

#content {
    background-color: #CCCCCC;
    height: 90vh;
}

.ele {
    background-color: #D92E8A;
}